 
{% extends "base.html.twig" %}

{% block title %}
 Modifier de chauffeur    
{% endblock %}

{% block body %}
    <h2> Modifier les informations d'un client</h2>

    {{form_start(formulaire)}}
    {{form_widget(formulaire)}}
        <button type="submit" > Modifier</button>
    {{form_end(formulaire)}}
    
{% endblock %}
